*{
    box-sizing: border-box;
}

body{
    background-color: rgb(133, 248, 228);
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    height: 100%;
    padding: 1px;
    border-radius: 10px;
}
nav{
    width: 50%;
    height: 30px;
    background-color: beige;
    margin-top: 1vw;
    margin-left: 25vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav div{
    margin: 12px;
    width: 20%;
    height: 20px;
    background-color: chartreuse;
    text-align: center;
    border-radius: 12px;
}

main{
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
}

section img{
    border: 1px solid blue;
    border-radius: 100px;
    width: 11vw;
    transition: all 1s ease-in-out;
}

section img:hover{
    transform: scale(1,1);
}
.SEC{
    grid-column-start: 1;
    grid-column-end: 3;
}

.cuerpo{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 29px;
    width: 80%;
    transition: all  ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    background-color: rgb(150, 191, 236);
    border: 1px solid white;
    box-shadow: 0 -19px 115px 4px rgb(255, 255, 255) ;
}

article{
    width: 30%;
    background-color: rgb(85, 161, 241);
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

article:hover{
    transform: scale(1.01,1.01);
}

