*{
    box-sizing: border-box;
}

body{
    background-color: rgb(193, 254, 242);
}

header{
    border: 1px solid rgb(150, 191, 236);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    height: 100%;
    padding: 1px;
    border-radius: 10px;
}
nav{
    border: 1px solid rgb(150, 191, 236);
    position:sticky;
    top: 0%;
    width: 50%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-top: 1vw;
    margin-left: 25vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1000;
}

nav div{
    margin: 12px;
    width: 20%;
    height: 20px;
    background-color:  rgb(150, 191, 236);
    text-align: center;
    border-radius: 12px;
}

main{
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 250px);
}

section img{
    border: 1px solid blue;
    border-radius: 100px;
    width: 11vw;
}


.SEC{
    grid-column-start: 1;
    grid-column-end: 3;
}

.cuerpo{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 29px;
    width: 80%;
    transition: all  ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    background-color: rgb(150, 191, 236);
    border: 1px solid white;
    box-shadow: 0 -19px 115px 4px rgb(255, 255, 255) ;
    margin-bottom: 10px;
}

article{
    width: 30%;
    background-color: rgb(85, 161, 241);
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

article:hover{
    transform: scale(1.05,1.05);
}

.contact{
    margin: 130px;
    border: 1px solid white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color:rgb(85, 161, 241);
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 0;
}

.contact ul{
    list-style: none;
    color: black;
    padding: 0;
}

footer{
    margin-top: 10px;
    background-color: rgb(0, 229, 255);
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 30px;
}

/*-------------Resposinve----------*/
@media (max-width: 579px) {
    nav {
        width: 80%;
        height: 30px;
        background-color: beige;
        margin-top: 2vw;
        margin-left: 10vw;
        margin-bottom: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    section img {
        border: 1px solid blue;
        border-radius: 100px ;
        width: 30vw;
    }

    nav div {
        margin: 12px;
        width: 25%;
        height: 20px;
        background-color: chartreuse;
        text-align: center;
        border-radius: 12px;
    }

    .cuerpo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        border-radius: 29px;
        width: 100%;
        height: max-content;
        transition: all ease-in-out;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: center;
        justify-content: center;
        background-color: rgb(150, 191, 236);
        border: 1px solid white;
        box-shadow: 0 -19px 115px 4px rgb(255, 255, 255);
    }

    article {
        width: 80%;
        background-color: rgb(85, 161, 241);
        margin: 30px;
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        text-align: justify;
    }
    
}
